/* Estilos para a página HTML */
body{
  font-family: Arial, sans-serif;
  background-color: #434343;
  margin:0;
  padding: 25px;
}

h1{
  color: #FFFAFA;
}

p{
  color: #666;
}

/* Estilos para a classe .destaque */
.destaque{
  background-color: #ffcc01;
  padding: 15px;
}
